<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>File Manager</title>
	</head>
	<body>
		<ul>
			<li>
				<a href="/moveup">&#128193;<b> /.. </b></a>
			</li>
			{{range .}}
				{{if .IsDir }}
				<li>
					<a href="/move/{{ .Name }}">&#128193;<b>{{ .Name }}</b></a>
				</li>
				{{else}}
				<li>
					&#128196;<b>{{ .Name }}</b>
					<a href="/remove/{{ .Name }}">&#10060;</a>
					<a href="/download/{{ .Name }}">&#128229;</a>
				</li>
				{{end}}
			{{end}}
			<br><br>
			<form enctype="multipart/form-data" action="/upload" method="post">
				<input type="file" name="newFile" />
				<input type="submit" value="upload" />
			</form>
		</ul>
	</body>
</html>